  <!-- Homepage template - 2014 Redesign - v29 - September 2015 -->
  <!-- Moved out link to to Powered By and included tree love letter-->

  <!--script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script-->
  <link href="http://cpc.convio.net/redesign/css/carousel.css" rel="stylesheet">
  <style type="text/css">
  /* internal styles - move to global.css */
  #emailHomepage { margin-left: 35px; margin-right: 35px; }
  #orangeDonate { display:block; }
    .navbar-toggle { display:none; }
  
  
  .btnDonate {
    background: #f4b44c;
    background-image: -webkit-linear-gradient(top, #f4b44c, #db4d05);
    background-image: -moz-linear-gradient(top, #f4b44c, #db4d05);
    background-image: -ms-linear-gradient(top, #f4b44c, #db4d05);
    background-image: -o-linear-gradient(top, #f4b44c, #db4d05);
    background-image: linear-gradient(to bottom, #f4b44c, #db4d05);
    -webkit-border-radius: 19;
    -moz-border-radius: 19;
    border-radius: 19px;
    -webkit-box-shadow: 2px 2px 2px #666666;
    -moz-box-shadow: 2px 2px 2px #666666;
    box-shadow: 2px 2px 2px #666666;
    color: #ffffff !important;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 25px 10px 25px !important;
    border: solid #f4b44c 0px;
    text-decoration: none;
    text-align:center;
  }

  .btnDonate:hover {
    background: #fcc670;
    background-image: -webkit-linear-gradient(top, #fcc670, #db4d05);
    background-image: -moz-linear-gradient(top, #fcc670, #db4d05);
    background-image: -ms-linear-gradient(top, #fcc670, #db4d05);
    background-image: -o-linear-gradient(top, #fcc670, #db4d05);
    background-image: linear-gradient(to bottom, #fcc670, #db4d05);
    text-decoration: none;
    color: #ffffff;
  }
  
/* MODAL Styles */

/* CLOSE MODAL */
.closeModal {
float: right;
top: -13px;
right: -7px;
z-index: 50;
position: absolute; 
padding-right: -15px; 
padding-top: 5px;
}

.closeModal img {
height: 25px; 
vertical-align: top; 
padding: 0; 
margin:0;
}

.modal {
  overflow-y: hidden;
  outline: none;
}

.modal-body {
position: relative;
padding: 10px;
background-color: white;
margin: 0 10px 10px 10px;
border: none;
}

@media(max-width:767px) {
.modal-body {
margin: 0;
text-align: center;
padding: 0 10px 10px 10px;
}
}

@media(max-width:767px) {
.modal-content {
background: white ;
}
}

.modal-content {
border: 10px solid white;
background: white url("http://www.centralparknyc.org/assets/images/2014/2105-recruit-modal-bkgb-md.jpg") ;
}

@media(max-width:767px) {
.modal-content {
background: white; 
border: 10px solid #68B247;
}
}

.modal-header {
margin: 100px;
padding: 15px;
border-bottom: none;
}

@media(max-width:767px) {
.modal-header {
margin: 0;
text-align: center;
border-bottom: none;
padding: 5px;
}
}

@media(max-width:767px) {
.modal-title-mobile {
display: inline;
color: #68b247;
font-size: 24px;
}

.modal-title {
display: none;
}
}

@media(min-width:768px) {
.modal-title-mobile {
display: none;
}

.modal-title {
display: inline;
padding: 0 10px;
border: none;
color: #68b247;
}
}

@media(min-width:768px) {
.mobile-lightbox-image {
display: none;
}
}

@media (device-height: 480px) { 
.mobile-lightbox-image {
  display: none;
}
}

.mobile-lightbox-image {
padding: 2px 7px 2px 5px;
}

.modal-footer {
border: medium none;
background-color: white;
padding: 0 20px 10px 10px;
margin: 0px 10px 10px 10px;
border: none;
}

.captureCopy h4 {
color: #77bd42;
text-align: left;
margin-top: 1px;
margin-bottom: 10px;
padding: 0 10px;
}

@media(max-width:767px) {
.captureCopy h4 {
text-align: center;
margin-top: 1px;
margin-bottom: 10px;
padding: 0 10px;
font-size: 14px;
}
}

@media (device-height: 480px) { 
.captureCopy h4 {
  font-size: 12px;
}
}

.captureCopyHeading {
text-align: center;
padding-top: 0;
color: #77bd42;
}

#lbox_register_form input {
margin: 0px auto 10px;
width: 100%;
height: 34px;
border-radius: 5px;
padding: 0px 0px 0px 10px;
position: relative;
border: 1px solid #636466;
margin: 0 auto 10px auto;
}

.sign-up-row {
padding: 0 10px 0 10px;
}

#lbox_register_form input#cons_email {
}

#lbox_register_form label { 
background-color: #FFFFFF; 
}

.btnSignUpLightbox { 
background: linear-gradient(to bottom, #79BF43, #69962E) repeat scroll 0% 0% #79BF43;
border-radius: 19px;
box-shadow: 2px 2px 2px #666;
color: #FFF !important;
font-size: 12px;
padding: 8px 20px !important;
border: 0px solid #79BF43;
text-decoration: none;
text-transform: uppercase;
text-align: center;
float: center !important;
}

/* fundraising lightbox */
#captureModal .modal-dialog {
    max-width: 630px;
    height: auto;
} 

/* capture lightbox */
/* #captureModal .modal-dialog { width: auto; background-color: #FFFFFF; } */

#captureModal .modal-dialog { width: auto; height: auto;  }
.linkCopy { left: 57px; }

/* capture lightbox */
/* #captureModal .modal-dialog { width: 360px; height: 570px; background-color: #FFFFFF; } */



  /* CAROUSEL Styles */
  
  .carousel-wrapper {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .carousel-box {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  #myCarousel { 
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .carousel-inner {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .carousel .item {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: 0px;
    margin-left: 0px;
  }
  .carousel .item img, .carousel-inner > .item > img {
    width: 100%;
    height: auto;
  }
  
  /*///////////////////////////////////////*/
  /* Image Carrousel Main Banner*/
  /*///////////////////////////////////////*/

  .carousel {
    height: 600px;
    margin-bottom: 15px;
  }
  .carousel .item, .carousel .item img {
    height: 600px;
  }
  .carousel-overlay {
    width: 100%;
    position: absolute;
    top: 225px;
  }
  .carousel-indicators {
    left: auto;
    bottom: auto;
    top: 270px;
    margin-left: 15px;
    width: 60px;
    text-align: none;
  }
  
  .carousel-caption {
    background-color: transparent;
    padding: 10px;
    bottom: 80px;
    right: 12%;
    left: 66%;
  }
  .carousel-caption p {
    margin: 0;
  }
    
  .carousel-inner > .item {
    -webkit-transition: 0.5s ease-out left;
    transition: 0.5s ease-out left;
  }
  .carousel .carousel-inner .item.active .carousel-caption .btnCaption {
    display:none;
  }
  .carousel .carousel-inner .item.active .carousel-caption .dropdown-menu-caption {
    display:none;
  }
  .carousel .carousel-inner .item.active:hover .carousel-caption .dropdown-menu-caption {
    display:block;
  }
  
  /* other homepage styles */
  
  .centerGreen .iconDiv {
    padding: 0;
    margin: 18px 0;
  }
  
  .greenMessage {
    color: #FFFFFF;
    font-family: 'Titling Gothic FB Cond',sans-serif;
    font-weight: normal;
    font-size: 1.8em;
    text-align: center !important;
  }
    
  @media(min-width:752px) {
    .carousel-wrapper { height: 614px; height: 75vh; }
  }
    
  @media(min-width:975px) {
    .carousel-wrapper {
      position: relative;
      height: 600px; height: 85vh;
      width: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
    }
  }
  
  /* TABLET PORTRAIT fixes */
  @media(min-width: 768px) 
  and (max-width:1200px) {
    /*.firstnav-li { width: 9%; }*/
    .firstnav-li:nth-child(7) { width: 15%; }
    .firstnav-wider-li { width: 20%; }
    /*.centerGreen .iconDiv {
      height: 80px;
      padding: 20px 0 0 10px;
    }*/
    .greenTitle {
      font-size: 0.75em;
      margin-left: -25px;
    }
    .iconDiv:nth-child(1) .greenTitle {
      margin-left: -5px;
    }
    .carousel .carousel-inner .item.active .carousel-caption .btnCaption {
      display:block;
    }
    .carousel .carousel-inner .item.active:hover .carousel-caption .dropdown-menu-caption {
      display:none;
    }
    .carousel .carousel-inner .item.active .carousel-caption .open .dropdown-menu-caption, .carousel .carousel-inner .item.active:hover .carousel-caption .open .dropdown-menu-caption {
      display:block;
    }
  }
  
  /* MOBILE styles */
  @media(max-width:767px) {
    .firstnav {
      margin-top:54px;
      position: absolute;
      top: 246px; top: 60vw;
      width: 100%;
    }
    .firstnav > .knockout > li {
      font-size: 0.78em;
    }
    .carousel-wrapper { height: 300px; height: 80vw;}
    /*.carousel { height: 300px; }
    .carousel .item, .carousel .item img { height: 300px; }*/
    .carousel-caption { bottom: 10px; }
    .dropdown-menu-caption > li > a { width: 180px; white-space: normal; }
    .centerGreen { display: none; }
    .marketing {
      position: absolute;
      top: 585px;
    }
    .carousel .carousel-inner .item.active .carousel-caption .btnCaption {
      display:block;
    }
    .carousel .carousel-inner .item.active:hover .carousel-caption .dropdown-menu-caption {
      display:none;
    }
    .carousel .carousel-inner .item.active .carousel-caption .open .dropdown-menu-caption, .carousel .carousel-inner .item.active:hover .carousel-caption .open .dropdown-menu-caption {
      display:block;
    }
    .prefooter { position: absolute; bottom: -1020px; }
    .mobileFooter { height: 270px; position: absolute; bottom: -1290px; }
    .starBar { position: absolute; bottom: -1350px; }
  .homepage-logo {width: 170px; margin-top: 5px;}
  }
  </style>

<!-- Modal on Homepage  ================================================== -->
<div id="captureModal" class="modal fade in container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"><!-- style="display: block; margin: 0 auto;"-->
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <div style="position: absolute; padding-right: -15px; padding-top: 5px;" class="clickable closeModal">  
          <img style="" src="http://www.centralparknyc.org/assets/images/2014/2014_recruit_modal_grey_close_v3.png">
        </div>
         <div class="row">
          <div class="col-xs-12">
            <div class="modal-title-mobile" id="myModalLabel" style="margin-top:0px; text-align: center;">Get the Inside Scoop!</div>
          </div>   
                <div class="col-xs-12 ">
                  <img src="http://www.centralparknyc.org/assets/images/2014/Mall_2011_1.jpg" class="img-responsive mobile-lightbox-image">
                </div>  
              </div>  
          </div>    
          <div class="modal-body">
              <h2 class="modal-title" id="myModalLabel" style="margin-top:0px; text-align: center;">Get the Inside Scoop on Central Park!</h2>
              <div class="captureCopy">
                <h4>Be the first to know what's going on in the Park, unearth Park secrets, get special offers, and more.</h4>
                <form novalidate="novalidate" id="lbox_register_form" name="lbox_register_form" method="post" action="javascript:void(0);">
                    <div class="row sign-up-row">
                      <div class="col-xs-12 col-sm-3">
                        <input id="cons_email" name="cons_email" placeholder="email" type="text">
                      </div>
                      <div class="zip  col-xs-12 col-sm-3">
                        <input id="cons_zip_code" name="cons_zip_code" placeholder="zip code" type="text">
                      </div>
                      <input value="true" name="cons_email_opt_in" type="hidden">
                      <input name="cons_info_component" value="true" type="hidden">
                      <input name="cons_mail_opt_in" value="true" type="hidden">
                      <input name="ACTION_SUBMIT_SURVEY_RESPONSE" value="Submit Survey" type="hidden">
                      <input name="NEXTURL" value="http://www.centralparknyc.org/cpc-registration.html?show=all" type="hidden">
                      <input name="s_src" value="website" type="hidden">
                      <input name="s_subsrc" value="insider_lightbox_2015" type="hidden">
                      <input name="denySubmit" value="" alt="This field is used to prevent form submission by scripts." type="hidden">
                      <input name="SURVEY_ID" value="4520" type="hidden">
                      <input name="ERRORURL" id="ERRORURL" value="http://www.centralparknyc.org/cpc-registration.html" type="hidden">
                      <input name="ifUsername" id="ifUsername" value="[[S1:user_name]]" type="hidden">
                      <div class="col-xs-12 col-sm-6">
                        <div class="btnSignUpLightbox clickable" id="formSubmit">
                          SIGN UP NOW
                        </div>  
                      </div>
                    </div>
                </form>
            </div>    
          </div>
      </div>
  </div>
</div>


<!-- /.modal -->
  
  <!-- modal script -->
  <script type="text/javascript">
    (function($){
      $(function() {
        
        // REGISTER MODAL SCRIPTS
        var cookieValue = readCookie('2015cpcCaptModal_cky');
        var submittedFlag = false;
        if (cookieValue == 'success' || cookieValue == 'close') {
          console.log('cookie: ', cookieValue); // cookie exists
        } else {
          $('#captureModal').modal('show').on('hidden.bs.modal', function () {
            if (!submittedFlag) {
              console.log('fired close function form NOT submitted...');
              setCookie("2015cpcCaptModal_cky", "close", 30);
            } else {
              console.log('fired close function WITH form submitted...');
            }
          });
        }
        var urlFull = document.location.href;

        function submitRegistration() {
          if ( $('#lbox_register_form').valid() ) {
            $('#formSubmit').hide();
            //$('#memLoader').css('opacity', '0.5').show().center();
            var myForm = $('#lbox_register_form');
            var myData = 'method=submitSurvey&survey_id=4520';
            luminateExtend.api({
              api: 'survey',
              requestType: 'POST',
              data: myData,
              form: myForm,
              requiresAuth: 'true',
              callback: function(data){
                console.log(data);
                //alert('success='+data.submitSurveyResponse.success);
                if (data.submitSurveyResponse.success == 'true') {
                  $('#memLoader').hide();
                  // change login box on successful form submission
                  $('[id^="login_box"]').html('<div id="login_box_w"><div class="welcome">Welcome!</div><div class="welcome_menu"><a class="menu_link" href="http://support.centralparknyc.org/site/UserLogin?logout=1&NEXTURL='+urlFull+'">Logout </a> | <a class="menu_link" href="https://secure2.convio.net/cpc/site/ConsProfileUser">Profile </a> | <a class="menu_link" href="https://secure2.convio.net/cpc/site/ConsInterestsUser/?tabID=interests">Preferences </a></div></div>');
                  $('#note').html('&nbsp;');
                  var thankStyles = {
                    fontSize: '2em',
                    top: '300px'
                  };
                  $('.captureCopy').html('<p>Thank you! You’re now signed up to receive email from Central Park Conservancy.</p>').css(thankStyles);
                  setCookie("2015cpcCaptModal_cky", "success", 365);
                  submittedFlag = true;
                  submitOptimizelyEvent('email_signup_lightbox');
                  ga('send', 'event', 'Email Sign-up', 'Email Sign-up', 'email_signup_lightbox');

                } else {
                  $('#formSubmit').show();
                  //$('#memLoader').hide();
                  $('#note').show().html('<p style="color: #F00">'+data.submitSurveyResponse.errors.errorMessage+'<p>');
                }
              }
            });
          } else {
            window.scrollBy(0,-50);
          }
        }

        $(function() {
          /* static and some dynamic validation rules for the registration - only handling front-end validation */
          $('#lbox_register_form').validate({
            rules: {
              'cons_email'    : { 'required': true, 'email': true, 'maxlength' : 50 },
              'cons_zip_code'   : { 'required' : true, 'rangelength' : [5,10] }
            },
            messages: {
              'cons_email'    : { 'required': '* required', 'email': '* please enter a valid email', 'maxlength': '* maximum length 50 characters' },
              'cons_zip_code'   : { 'required' : '* required',
                              'rangelength':  '* must be between 5 and 10 characters'  }
            }
          });
          
          /* STARTUP */
          /* override the HTML form submission so the user remains on the page while the AJAX processing can occur */
          $('#formSubmit').click(function() {
            submitRegistration();
            return false;
          });
          $('#cons_zip_code').keypress(function (e) {
            //alert('key pressed: '+e.which);
            if (e.which == 13) {
              submitRegistration();
              return false;
            }
          })
          
          $('#lbox_register_form').attr('action', 'javascript:void(0);');
          $('.closeModal').click(function() {
            $('#captureModal').modal('hide')
          });
          /*$('.btnDonate').click(function() {
            console.log('fired close function - clicked link');
            setCookie("2014cpcJoinModal_cky", "true");
          });*/
        });
      });
    })(jQuery);
  </script>
  
  <!-- Carousel ================================================== -->
  <div class="carousel-wrapper">
    <div class="carousel-box">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-overlay">
          <div class="container">
            <div class="row">
              <!--div class="col-lg-3 col-md-4 col-sm-5 knockout hidden-xs" style="z-index:16;">
                <div class="navbar firstnavToday">
                  <ul class="nav navbar-nav knockout">
                    <li class="dropdown showsecond active" id="aboutTrigger" style="margin-top:5px;">Today in Central Park<span class="caret"></span><br/>
                      <a href="http://w1.weather.gov/xml/current_obs/KNYC.xml" target="_blank"> <-- THIS LINE COMMENTED
                      <span class="todayWeather">
                        <span style="position:relative; display: block !important; width: 150px; overflow:hidden; height:27px; margin: 0 0 10px; text-align: center; font-family: sans-serif; font-size: 12px;"><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:10106.3.99999&amp;bannertypeclick=wu_simplegray" title="Central Park, New York Weather Forecast" target="_blank"><img src="http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_simplegray&amp;airportcode=KNYC&amp;ForcedCity=Central Park&amp;ForcedState=NY&amp;zip=10106&amp;language=EN" alt="Find more about Weather in Central Park, NY" style="top:-22px; left:-2px; position:absolute;" width="160"></a></span>
                      </span>
                      </a> <-- THIS LINE COMMENTED
                       <div class="navbar secondnavToday" id="about-nav">
                          <ul class="list-inline nav navbar-nav about-nav">
                            <li class="dropdown">
                              <a href="http://www.centralparknyc.org/about/park-information/">
                                <div class="todayEvents">
                                  <hr class="hrTB"/>
                                  <div style="display: inline;" class="templateComponent" id="templatelist-505946308"></div>
                                  <a href="http://www.centralparknyc.org/events/">
                                  <div class="btnMoreEvents">More Events</div></a>
                                </div>
                              </a>
                            </li>                       
                           </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </div--> <!--col-md-3-->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active" onClick="ga('send', 'event', 'slides', 'click', 'slide1');"></li>
                <li data-target="#myCarousel" data-slide-to="1" onClick="ga('send', 'event', 'slides', 'click', 'slide2');"></li>
                <li data-target="#myCarousel" data-slide-to="2" onClick="ga('send', 'event', 'slides', 'click', 'slide3');"></li>
                <li data-target="#myCarousel" data-slide-to="3" onClick="ga('send', 'event', 'slides', 'click', 'slide4');"></li>
              </ol>
            </div><!--row-->
          </div><!--container-->
        </div><!--carousel-overlay-->
      <div class="carousel-inner">
        <t:list id="slides">
          <t:if test="index == 1"><div class="item active"></t:if>
          <t:else><div class="item"></t:else>
            <a href="${link_url}">
              <img class="img-responsive" src="${url}" />
            </a>
            <div class="container">
              <div class="carousel-caption">
                <div class="btn-group dropup">
                  <button type="button" class="btnCaption btnCaption-default dropdown-toggle" data-toggle="dropdown">
                    <span style="width:26px; height:23px;">
                      <img src="http://cpc.convio.net/redesign/img/cpc/cameraIcon4.png" style="width:100%; height:100%"/>
                    </span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu-caption" role="menu">
                    <li>
                      <a href="${link_url}">${description} <span class="glyphicon glyphicon-play white2"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div><!--END CARROUSEL IMAGE-->
        </t:list>
      </div> <!-- carousel inner -->
        
      <div class="centerGreen knockout">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 iconDiv">
              <a href="https://secure2.convio.net/cpc/site/SPageServer?pagename=membership&s_src=website&s_subsrc=poweredby_green_strap" onclick="ga('send', 'event', 'donation', 'click', 'green-strap-index');" >
                <p class="greenMessage">Central Park Conservancy is Powered by You.<span style="margin-left:15px;"><strong>JOIN NOW</strong></span> &nbsp;<span class="xs-icon glyphicon glyphicon-play"></span></p>
              </a>
            </div>
          </div> <!-- row -->
        </div><!-- container -->
      </div> <!--centerGreen knockout -->

      <a class="left carousel-control whiteArrow" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control whiteArrow" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel-box -->
    </div>
  </div><!-- /.carousel -->
  

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Alert component --> <t:include id=templatelist-129907430 /> <!-- END Alert -->
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="mainContent">
        <div class="col-md-4">
          <h2>Send a Tree Love Letter</h2>
<a href="http://centralparknyc.tumblr.com/post/129284107411/send-your-tree-a-love-letter-you-love-central" onclick="ga('send', 'event', 'tree-letters', 'click', 'image-homepage');"> <img alt="Send a Tree Love Letter" class="img-responsive" src="http://www.centralparknyc.org/assets/images/2014/slides-hp/feature/Tree-Love-Letters.jpg" data-src="holder.js/140x140" /> </a>
<p>We’ll share our favorites throughout the fall.<br /> <a class="mainLink" href="http://centralparknyc.tumblr.com/post/129284107411/send-your-tree-a-love-letter-you-love-central" onclick="ga('send', 'event', 'tree-letters', 'click', 'text-homepage');">READ MORE<span class="xs-icon glyphicon glyphicon-play"></span></a></p>
        </div>
        <div class="col-md-4">
          <h2>Support Us</h2>
          <a href="https://secure2.convio.net/cpc/site/SPageServer?pagename=donate&amp;s_src=website&amp;s_subsrc=hp_support_us_box"><img class="img-responsive" src="http://www.centralparknyc.org/assets/images/2014/supportus_homepage_small.jpg" data-src="holder.js/140x140" alt="Support the Park"></a>
          <p>Central Park Conservancy raises 75% of Central Park's annual budget.<br />
          <a class="mainLink" href="https://secure2.convio.net/cpc/site/SPageServer?pagename=donate&amp;s_src=website&amp;s_subsrc=hp_support_us_box">DONATE NOW<span class="xs-icon glyphicon glyphicon-play"></span></a></p>
        </div><!-- /.col-md-4 -->
        <div class="col-md-4">
          <h2>Sign Up for Email</h2>
          <img class="img-responsive" src="http://www.centralparknyc.org/assets/images/2014/email_homepage_small.jpg" data-src="holder.js/140x140" alt="Sign Up for Email">
          <p>Get advance notice of events in Central Park.</p>
          <div id="emailHomepage">
            <form action="http://support.centralparknyc.org/site/Survey" method="post" name="register" class="emailHomepage">
              <input type="hidden" name="cons_info_component" value="t" />
              <input type="hidden" name="cons_mail_opt_in" value="t" />
              <input type="hidden" name="ACTION_SUBMIT_SURVEY_RESPONSE" value="Submit Survey" />
              <span class="btnSignUp clickable submitButton">SIGN UP NOW</span>
              <input class="primaryEmail formSignUp" maxlength="40" name="cons_email" type="text" placeholder="Your email"></input>
              <input type="hidden" name="s_src" value="website" />
              <input type="hidden" name="s_subsrc" value="2014_homepageEmailBox" />
              <input type="hidden" name="denySubmit" value="" alt="This field is used to prevent form submission by scripts." />
              <input type="hidden" name="SURVEY_ID" value="2621" />
            </form>
            <div class="noteBox">&nbsp;</div>
          </div>
        </div><!-- /.col-md-4 -->
      </div><!-- /.mainContent -->
    </div><!-- /.row -->
  </div><!-- /.container -->


<t:value id="body"></t:value>

<script type="text/javascript">// <![CDATA[
(function($){
  var winWidth = 1024; //resets onload
  var slideWidth = 1024; //resets onload / only different in portait mode (typically tablets)
  var winHeight = 768; //resets onload
  var slideHeight = 600;
  var slideLeftOffset = 0; //used in portrait mode otherwise 0
  var slideTopMargin = 0; //reset on load and resize
  var minSlideWidth = 788; //med viewport width + 10 on each side to show bleed and more image.
  //ratios to set up slideshow for the optimal display
  var imgRatio = 0.445; //height to width ratio of slide images 571/1282

  function resizeSlides(type){
    var winWidth =  $(window).width();
    var winHeight = $(window).height();
    var carouselheight;
    
    var slideHeight =  $('.carousel-wrapper').height();
    var slideWidth = winWidth;
    /*if(slideWidth < minSlideWidth) {
      slideWidth = minSlideWidth;
    }*/
    //var slideAreaRatio = slideHeight / slideWidth;
    var imgHeight = slideWidth * imgRatio;
    console.log('winwidth: ',winWidth,' winheight: ',winHeight,' slideheight: ',slideHeight,' imgheight: ',imgHeight);
    var imgOffset = 0;
    if(slideHeight <= imgHeight){ //Landscape
      var imgOffset = ((imgHeight - slideHeight) / 2) * -1;
      var slideStyle = 'margin-top: ' +  imgOffset + 'px; margin-left: 0px; width: auto;'
      $('.item').attr("style", slideStyle);
      //alert('winwidth: '+winWidth+' winheight: '+winHeight+' slideheight: '+slideHeight);
    } else if (slideHeight > imgHeight){ //portait
      var divWidth = slideHeight / imgRatio;
      var divMarginLeft = ((divWidth - slideWidth) / 2) * -1;
      //var divMarginLeft = (type == 'i') ? -216 : ((divWidth - slideWidth) / 2) * -1;
      var slideStyle = 'margin-top: 0px; margin-left: '+divMarginLeft + 'px; width: '+divWidth + 'px;';
      $('.item').attr("style", slideStyle);
      //alert('winwidth: '+winWidth+' winheight: '+winHeight+' slideheight: '+slideHeight);
    }
    /*var slideNavTop = slideHeight - 59; //position nav circles 40px above the footer
    $('homeslidenavlinks').style.top = slideNavTop + 'px';
    $('photoposition').style.top = slideHeight + 'px';
    var arrowPos = (((slideHeight - headerHeight) / 2) - (navArrowHeight / 2)) + headerHeight;
    $('navarrowleft').style.top = arrowPos + 'px';
    $('navarrowright').style.top = arrowPos + 'px';*/
  }
  
  function readDeviceOrientation() {
    var winRatio, imgOffset;
    var winHeight = $(window).height();
    var winWidth =  $(window).width();
    if (Math.abs(window.orientation) === 90) {
      // Landscape - set css here
      //alert('LANDSCAPE');
      winRatio = (winWidth < 2000) ? 1 : 2;
      imgOffset = (200 * winRatio) * -1;
    } else {
      // Portrait - set css here
      //alert('PORTRAIT');
      winRatio = (winWidth < 1000) ? 1 : 2;
      imgOffset = (300 * winRatio) * -1;
    }
    var imgHeight = 571 * winRatio;
    var carouselHeight = ''+imgHeight+'px';
    var imgWidth = 1000 * winRatio * 1.33;
    //var divWidth = ''+imgWidth+'px';
    //var divOffset = ''+imgOffset+'px';
    var slideStyle = 'margin-left: '+imgOffset+'px; width: '+imgWidth+'px;';
    $('.item').attr("style", '');
    $('.item').attr("style", slideStyle);
    //$('.item').css("margin-left",divOffset);
    //$('.item').css("width",divWidth);
    $('.carousel-wrapper').css("height",carouselHeight);
    //alert('carousel height: '+carouselHeight+' win height: '+winHeight+' win width: '+winWidth+' img ratio: '+winRatio+' img width: '+imgWidth+' offset: '+imgOffset);
  }
  
  $('form.emailHomepage').attr('action', 'javascript:void(0);');

  // initialize page
  $(document).ready(function() {
    $('form.emailHomepage .submitButton').click(function() {
      submitEmail('emailHomepage');
    });
    $('form.emailHomepage .primaryEmail').keypress(function (e) {
      if (e.which == 13) {
        submitEmail('emailHomepage');
        return false;
      }
    });
    //displayWeather();
    if ( navigator.userAgent.match(/iPad/g)) {
      //alert('iPad detected');
      //$('.carousel-control').hide();
      readDeviceOrientation();
      window.onorientationchange = readDeviceOrientation;
    } else if ( navigator.userAgent.match(/(iPhone|iPod)/g)) {
      //alert('iPhone detected');
      resizeSlides('i');
      window.onresize = function(){ resizeSlides('i');}
    } else {
      resizeSlides();
      window.onresize = function(){ resizeSlides();}
    }
    
    // always show expanded nav on mobile homepage
    $('#primaryNav').removeClass('hidden-xs');
  });
})(jQuery);
  // ]]></script>
<!-- END email capture box -->  