<locations>
  <t:list>
    <location>
      <locationID>${itemID}</locationID>
      <is_visible>${is_visible}</is_visible>
      <remote_date><t:value id="lastpublicationdate" format="7"></t:value></remote_date>
      <name><![CDATA[${title}]]></name>
      <location_url>${url}</location_url>
      <largeimage>${large.url}</largeimage>
      <small_image>${mobile_small_image_path}</small_image>
      <thumbnail>${mobile_thumb_image_path}</thumbnail>
      <latitude>${location.latitude}</latitude>
      <longitude>${location.longitude}</longitude>
      <desc_text><![CDATA[${body}]]></desc_text>
      <filterID>${filter_group.description}</filterID>
      <is_photoop>${is_photoop}</is_photoop>
      <is_restroom>${restroom}</is_restroom>
      <top_location>${top_location}</top_location>
      <audio_url>${audio_id}</audio_url>
      <audio_name>${audio_name}</audio_name>
    </location>
  </t:list>
</locations>